{% extends 'base.html' %}

{% block content %}

{% if data != None %}

    <h1>Your File Has been uploaded below.</h1>
    
{% endif %}

{% if error != None %}

    <h1>{{ error }}</h1>
    
{% endif %}

<h1>File Upload Section</h1>
        <form action="" method='POST' enctype="multipart/form-data">
            <p><input type="file" name="file" accept=".txt, .csv"></p>
            <p><input type="submit" value="Submit"></p>
        </form>

        {% if data != None %}
            {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
            {% endfor %}
        {% endif %}


{% endblock content %}

