{% extends 'base.html' %}

{% block content %}
<div class="banner-index-pic">
    <div class="header-text-index-pic">
        <h1>Your Unique Equation Generator</h1>
    </div>
    
    <form  action="" method="POST">
        <fieldset>
            {{ form.equation.label }}
            {{ form.equation(class="form-control", placeholder="What cool equation do you want to plot a section of?") }}
        </fieldset>
        {{ form.submit(class="btn btn-primary format_style")}}
    </form>
</div>

    {% if image %}

    <div class="banner-index-pic main_graph">
        <div class="header-text-index-pic">
            <h1 class="header-text">Here is your equation!</h1>
            <img class="index_img" src="{{ image }}" alt="">
        </div>
    </div>

    {% endif %}

{% endblock content %}