{% extends 'base.html' %}

{% block content %}
<div class="banner-index-pic">
    <div class="graph_cards">

        <div class="card" style="width: 18rem;">
            <img src="{{ linImg }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <form action="" method="POST">
                    <fieldset>
                        {{ form1.slope.label }}
                        {{ form1.slope(class="form-control", placeholder="Slope") }}
                    </fieldset>
                    <fieldset>
                        {{ form1.intercept.label }}
                        {{ form1.intercept(class="form-control", placeholder="intercept") }}
                    </fieldset>
                    {{ form1.submit(class="btn btn-primary")}}
                </form>
            </div>
          </div>
        
          <div class="card" style="width: 18rem;">
            <img src="{{ bellImg }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bell Curves</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <form action="" method="POST">
                    <fieldset>
                        {{ form2.sq_a.label }}
                        {{ form2.sq_a(class="form-control", placeholder="A") }}
                    </fieldset>
                    <fieldset>
                        {{ form2.sq_b.label }}
                        {{ form2.sq_b(class="form-control", placeholder="B") }}
                    </fieldset>
                    <fieldset>
                        {{ form2.sq_c.label }}
                        {{ form2.sq_c(class="form-control", placeholder="C") }}
                    </fieldset>
                    {{ form2.submit(class="btn btn-primary")}}
                </form>
            </div>
          </div>


    </div>
</div>


{% endblock content %}